*{
    margin:0;
    padding: 0;
    font-size: 12px;
    font-family: Courier, Monaco, monospace;
}
body{
    background-color: powderblue;
}
td.saving{
    background-color: #ff0000cc !important; 
}
.projectname.current{
    background-color:green;
    color: yellow;
}
.console{
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #d2deffd9;
}
.console .btn.save_btn{
    /* width:100px;
    height:30px; */
    background-color: green;
    color: white;
    float: right;
}
.currentTimeline{
    position: absolute;
    z-index: 9;
    width:2px;
    border-right:1px solid #aaa;
    /* background-color: #50d40c; */
    /* background-color:#ff0000dd; */
    -webkit-animation: twinkling 2s infinite ease-in-out;
    background:-webkit-linear-gradient(top),red,#000);/*for safari5.1-6.0*/
    background:-o-linear-gradient(bottom,red,#000);/*Opera 11.1-12.0*/
    background:-moz-linear-gradient(bottom,red,#000);/*firefox 3.6-15*/
    background:linear-gradient(to bottom,red,#000);/*标准语法*/    
    pointer-events: none;
}
.currentTimelineCover{
    background-color: #333;
    opacity: 0.1;
    position:absolute;
    pointer-events: none;
}
@-webkit-keyframes twinkling{  
    0%{ opacity: 0.1; }  
    100%{ opacity: 1; }  
}  
@keyframes twinkling{  
    0%{ opacity: 0.1; }  
    100%{ opacity: 1; }  
}  
.tip_ofsection{
    background-color: powderblue;
    height:20px;
    width:100%;
}
.tasks .tip_of_day{
    position: absolute;
    min-width: 30px;
    height: 15px;
}
.tasks .tip_of_day.important{
    color:white;
    background-color: #ff6883;
    border: 1px solid red;
    z-index: 1001;
}
.tasks .tip_of_day.notice{
    padding-left:2px;
    background-color:#ffffb3aa !important;
    z-index: 1000;
    pointer-events: none;
    border:0;
}
.tasks .tip_of_day.now{
    z-index: 9999;
    font-weight: bold;
    padding:1px 2px 1px 2px;
    color: black !important;
    background-color: greenyellow !important;
    border: 1px dotted green;
}
.tasks .tip_of_day.ispassed{
    background-color: #b5b5b5;
    border-color: #ccc;
}
.root{
    margin-top: 60px;
    overflow: auto;
    width: 100%;
    font-size: 11px;
}
.dayofweek{
    position: absolute;
    top: 48px;
    left: 2px;
    z-index: 8;
    border: 1px dotted #1f1f1f;
    color: #fff !important;
    background-color: #6d6d6d;
    width: 150px;
    font-weight: normal !important;
    pointer-events: none;
}
.datetitle{
    position: relative;
}
.datetitle .m{
    text-align:right;
    padding-right:2px;
    color: #ccc;
}
.datetitle .m .mt{
    color:#3a3a3a;
    font-family: Impact;
}
.datetitle .m.misfirstmonthday{
    border:1px solid #b32121;
    background-color: #ffe9ca5e;
}
.datetitle .m .mt.isfirstmonthday{
    color: #b32121;
    text-decoration: underline;
    font-size:14px;
}
.datetitle .d{
    text-align:right;
    padding-right:2px;
}
.gantt_section{
    /* background-color: powderblue; */
    margin-left: 6px;
    display: block;
    border: 0px solid #ccc;
    border-bottom: 1px solid #ccc;    
    border-collapse:collapse;
    width:1650px;
}
.gantt_section thead{
    border: 0;
    width:100%;
    font-size: 11px;
}
.gantt_section tbody{
    border: 0;
    width:100%;
}
.gantt_section tr{
    border: 0;
    width:100%;
}
.gantt_section tr.hovering{
    /* background-color: #ffff0026 !important; */
    border:1px dotted red;
}
.gantt_section td.hovering{
    /* background-color: #ffff0026 !important; */
    border:1px dotted red;
}
.gantt_section td{
    border-left: 1px solid #eee;
    /* border-top: 1px dotted #ccc; */
    height: 19px;
}
.gantt_section th{
    width:22px;
}
.gantt_section .day{
    position: relative;
}
.gantt_section .day.day_hover{
    /* background-color: greenyellow !important; */
}
.gantt_section .rowcol{
    padding:2px;
}
.gantt_section .selected_day_row{
    /* border-top: 1px dotted #ae44e4 !important;
    border-right:1px dotted #ae44e4 !important;
    border-bottom:1px dotted #ae44e4 !important;
    border-left:1px dotted #ae44e4 !important; */
}
.gantt_section .rowcol.selected_day_row{
    background-color: #2623c7 !important;
    color: white;
}
.gantt_section .rowcol.selected_day{
    background-color: #2623c7 !important;
    color:white;
}
.gantt_section .day.selected_day{
    background-color: #c6ffa2 !important;
}
.gantt_section .day.selected_daycol{
    /* border-left:1px dotted #ae44e4 !important;
    border-right:1px dotted #ae44e4 !important; */
}
.gantt_section .selected_dayheader *{
    border-left: 3px solid #2623c7 !important;
    border-right: 3px solid #2623c7 !important;
    color: red !important;
}
.gantt_section .choosed_day{
    background-color: #ff6883 !important;
}
.gantt_section .choosed_day1{
    background-color: #ff6883 !important;
}
.gantt_section .choosed_day2{
    background-color: #ff6883 !important;
}
.gantt_section .datetitle.monthzebra0{
    border-bottom: 3px solid #6565ff !important;
}
.gantt_section .datetitle.monthzebra1{
    border-bottom: 3px solid #79c700 !important;
}
.gantt_section .day.monthzebra0{
    background-color: #fff;
}
.gantt_section .day.monthzebra1{
    background-color: #fff;
}
.gantt_section .weekend{
    background-color: #ddd !important;
}
.gantt_section .holiday{
    background-color: #ddd !important;
}
.gantt_section th.is-today{
    color: black;
    background-color: greenyellow !important;
    border:1px solid green;
}
.gantt_section td.is-today{
    /* background-color: greenyellow !important; */
}
.gantt_section .isBeforeToday{
    color: #aaa;
    background-color: #eee !important;
}
.gantt_section .isBeforeToday.weekend{
    color: #aaa;
    background-color: #ddd !important;
}
.gantt_section .isBeforeToday.important-workingday{
    border-color: #aaa !important;
}
.gantt_section th.important-workingday{
    color: #523030;
    background-color: #ff737380 !important;
}
.gantt_section th.important-workingday.dir_start{
    /* border:1px solid red !important; */
    border-left: 1px solid #b92828c2 !important;
    border-left-width: 2px !important;
    /* border-left-width: 2px !important; */
    /* border-top-width: 2px !important;
    border-bottom-width: 2px !important; */
}
.gantt_section th.important-workingday.dir_end{
    /* border:1px solid red !important; */
    border-right: 1px solid #b92828c2 !important;
    border-right-width: 2px !important;
    /* border-left-width: 2px !important; */
    /* border-top-width: 2px !important;
    border-bottom-width: 2px !important; */
}
.gantt_section .isBeforeToday.notice-workingday{
    border-color: #aaa !important;
}
.gantt_section th.notice-workingday{
    /* color: white; */
    color: #999;
    /* background-color: #f7f700; */
}
.gantt_section th.notice-workingday{
    /* border:1px solid red !important; */
    border-right: 1px solid #dcaf5c !important;
    border-right-width: 2px !important;
    /* border-left-width: 2px !important; */
    /* border-top-width: 2px !important;
    border-bottom-width: 2px !important; */
}