*{
    margin:0;
    padding: 0;
    font-size: 12px;
}
body{
    background-color: powderblue;
}
.console{
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
    height:60px;
    width:100%;
    background-color: powderblue;
}
.currentTimeline{
    position: absolute;
    width:4px;
    background-color: #50d40c;
}
.tip_ofsection{
    background-color: powderblue;
    height:18px;
    width:100%;
}
.tasks .tip_of_day{
    position: absolute;
    min-width: 30px;
    height: 15px;
}
.tasks .tip_of_day.important{
    background-color: pink;
    border: 1px solid red;
    z-index: 1001;
}
.tasks .tip_of_day.notice{
    background-color:rgba(255,255,0,0.8) !important;
    border: 2px solid orange;
    z-index: 1000;
}
.tasks .tip_of_day.now{
    
    color: greenyellow;
    background-color: black;
    border: 1px solid green;
}
.tasks .tip_of_day.ispassed{
    background-color: #ddd;
    border: 1px solid #999;
    color: #999;
}
.root{
    margin-top: 60px;
    overflow: auto;
    width: 100%;
    font-size: 11px;
}
.gantt_section{
    background-color: white;
    margin-left: 6px;
    display: block;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;    
    border-collapse:collapse;
    width:1600px;
}
.gantt_section thead{
    border: 0;
    width:100%;
    font-size: 11px;
}
.gantt_section tbody{
    border: 0;
    width:100%;
}
.gantt_section tr{
    border: 0;
    width:100%;
}
.gantt_section td{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 18px;
}
.gantt_section th{
    width:20px;
}
.gantt_section .day.selected_day{
    background-color: #f7f700 !important;
}
.gantt_section .day.monthzebra0{
    background-color: #fff;
}
.gantt_section .day.monthzebra1{
    background-color: #fff;
}
.gantt_section .weekend{
    background-color: #ddd !important;
}
.gantt_section .holiday{
    background-color: #ddd !important;
}
.gantt_section th.is-today{
    color: black;
    background-color: greenyellow !important;
    border:1px solid green;
}
.gantt_section td.is-today{

}
.gantt_section .isBeforeToday{
    color: #aaa;
    background-color: #eee !important;
}
.gantt_section .isBeforeToday.weekend{
    color: #aaa;
    background-color: #ddd !important;
}
.gantt_section .isBeforeToday.important-workingday{
    border-color: #aaa !important;
}
.gantt_section th.important-workingday{
    /* color: white; */
    background-color: #ffb2b2;
}
.gantt_section .important-workingday{
    /* border:1px solid red !important; */
    border-right: 1px solid #b92828 !important;
    border-right-width: 2px !important;
    /* border-left-width: 2px !important; */
    /* border-top-width: 2px !important;
    border-bottom-width: 2px !important; */
}
.gantt_section .isBeforeToday.notice-workingday{
    border-color: #aaa !important;
}
.gantt_section th.notice-workingday{
    /* color: white; */
    color: #999;
    /* background-color: #f7f700; */
}
.gantt_section .notice-workingday{
    /* border:1px solid red !important; */
    border-right: 1px solid #ffd891 !important;
    border-right-width: 2px !important;
    /* border-left-width: 2px !important; */
    /* border-top-width: 2px !important;
    border-bottom-width: 2px !important; */
}