*{
    margin:0;
    padding: 0;
    font-size: 12px;
    font-family: Courier, Monaco, monospace;
}
body{
    background-color: powderblue;
}
.console{
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
    height:60px;
    width:100%;
    background-color: powderblue;
}
.console .btn.save_btn{
    /* width:100px;
    height:30px; */
    background-color: green;
    color: white;
    float: right;
}
.currentTimeline{
    position: absolute;
    width:4px;
    /* background-color: #50d40c; */
    /* background-color:#ff0000dd; */
    -webkit-animation: twinkling 1s infinite ease-in-out;
    background:-webkit-linear-gradient(top),red,#ffcaca);/*for safari5.1-6.0*/
    background:-o-linear-gradient(bottom,red,#ffcaca);/*Opera 11.1-12.0*/
    background:-moz-linear-gradient(bottom,red,#ffcaca);/*firefox 3.6-15*/
    background:linear-gradient(to bottom,red,#ffcaca);/*标准语法*/
}
@-webkit-keyframes twinkling{  
    0%{ opacity: 0.1; }  
    100%{ opacity: 1; }  
}  
@keyframes twinkling{  
    0%{ opacity: 0.1; }  
    100%{ opacity: 1; }  
}  
.tip_ofsection{
    background-color: powderblue;
    height:38px;
    width:100%;
}
.tasks .tip_of_day{
    position: absolute;
    min-width: 30px;
    height: 15px;
}
.tasks .tip_of_day.important{
    color:white;
    background-color: #ff6883;
    border: 1px solid red;
    z-index: 1001;
}
.tasks .tip_of_day.notice{
    background-color:rgba(255,255,0,0.8) !important;
    border: 1px solid orange;
    z-index: 1000;
}
.tasks .tip_of_day.now{
    color: black;
    background-color: rgba(0,255,0,0);
    border: 1px dotted green;
}
.tasks .tip_of_day.ispassed{
    background-color: #ddd;
    border: 1px solid #999;
    color: #999;
}
.root{
    margin-top: 60px;
    overflow: auto;
    width: 100%;
    font-size: 11px;
}
.gantt_section{
    background-color: white;
    margin-left: 6px;
    display: block;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;    
    border-collapse:collapse;
    width:1600px;
}
.gantt_section thead{
    border: 0;
    width:100%;
    font-size: 11px;
}
.gantt_section tbody{
    border: 0;
    width:100%;
}
.gantt_section tr{
    border: 0;
    width:100%;
}
.gantt_section tr.hovering{
    /* background-color: #ffff0026 !important; */
    border:1px dotted red;
}
.gantt_section td.hovering{
    /* background-color: #ffff0026 !important; */
    border:1px dotted red;
}
.gantt_section td{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 18px;
}
.gantt_section th{
    width:20px;
}
.gantt_section .day{
    position: relative;
}
.gantt_section .rowcol{
    padding:2px;
}
.gantt_section .rowcol.selected_day{
    background-color: #2623c7 !important;
    color:white;
}
.gantt_section .day.selected_day{
    border-top: 1px solid #9a9ad0 !important;
    border-right:1px solid #9a9ad0 !important;
    border-bottom:1px solid #9a9ad0 !important;
    border-left:1px solid #9a9ad0 !important;
}
.gantt_section .day.selected_daycol.selected_day{
    border-top:2px solid #9a9ad0 !important;
    border-right:3px solid #9a9ad0 !important;
    border-bottom:2px solid #9a9ad0 !important;
    border-left:3px solid #9a9ad0 !important;
}
.gantt_section .day.selected_daycol{
    border-left:2px dotted #999999 !important;
    border-right:2px dotted #999999 !important;
}
.gantt_section .choosed_day{
    background-color: #ff6883 !important;
}
.gantt_section .choosed_day1{
    background-color: #ff6883 !important;
}
.gantt_section .choosed_day2{
    background-color: #ff6883 !important;
}
.gantt_section .day.monthzebra0{
    background-color: #fff;
}
.gantt_section .day.monthzebra1{
    background-color: #fff;
}
.gantt_section .weekend{
    background-color: #ddd !important;
}
.gantt_section .holiday{
    background-color: #ddd !important;
}
.gantt_section th.is-today{
    color: black;
    background-color: greenyellow !important;
    border:1px solid green;
}
.gantt_section td.is-today{

}
.gantt_section .isBeforeToday{
    color: #aaa;
    background-color: #eee !important;
}
.gantt_section .isBeforeToday.weekend{
    color: #aaa;
    background-color: #ddd !important;
}
.gantt_section .isBeforeToday.important-workingday{
    border-color: #aaa !important;
}
.gantt_section th.important-workingday{
    color: #523030;
    background-color: #ff737380 !important;
}
.gantt_section .important-workingday.dir_start{
    /* border:1px solid red !important; */
    border-left: 1px solid #b92828c2 !important;
    border-left-width: 2px !important;
    /* border-left-width: 2px !important; */
    /* border-top-width: 2px !important;
    border-bottom-width: 2px !important; */
}
.gantt_section .important-workingday.dir_end{
    /* border:1px solid red !important; */
    border-right: 1px solid #b92828c2 !important;
    border-right-width: 2px !important;
    /* border-left-width: 2px !important; */
    /* border-top-width: 2px !important;
    border-bottom-width: 2px !important; */
}
.gantt_section .isBeforeToday.notice-workingday{
    border-color: #aaa !important;
}
.gantt_section th.notice-workingday{
    /* color: white; */
    color: #999;
    /* background-color: #f7f700; */
}
.gantt_section .notice-workingday{
    /* border:1px solid red !important; */
    border-left: 1px solid #dcaf5c !important;
    border-left-width: 2px !important;
    /* border-left-width: 2px !important; */
    /* border-top-width: 2px !important;
    border-bottom-width: 2px !important; */
}