.schedule_segment{
    position: absolute;
    min-height: 12px;
    background-color: #feff43;
    line-break: strict;
    z-index: 998;
    color: #000;
    /* text-decoration: underline; */
}
.schedule_segment .subject .days{
    margin-left:2px;
    background-color: #fbfbdf;
    color: black;
}
.schedule_segment.selected{
    background-color:#0037ff29;
}
.schedule_segment .subject{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.schedule_segment .delete{
    text-decoration: none;
}
.schedule_segment .begin-mark{
    float:left;
}
.schedule_segment .end-mark{
    float:right;
}
.schedule_segment.left-is-close{
    border: 1px solid #ffa50033;
    border-right: 0;
    border-top-width:1px;
    border-bottom-width: 1px;
}
.schedule_segment.right-is-close{
    border: 1px solid #ffa50033;
    border-left: 0;
    border-top-width:1px;
    border-bottom-width: 1px;
}
.schedule_segment.right-is-close .subject{
    float: right;
}
.schedule_segment.all-close{
    border: 1px solid #ffa50033;
    border-top-width:1px;
    border-bottom-width: 1px;
}
.schedule_segment.all-open{
    border: 0;
}
.schedule_segment.ispassed{
    text-decoration: none;
    color: #4c4c4c;
    background-color: #bbbbbb73 !important;
    /* border-color:#73737321 !important; */
    border: 1px solid #808080 !important;
    filter:alpha(Opacity=75);-moz-opacity:0.75;opacity: 0.75; 
}
.schedule_segment.ispassed .days{
    background-color: inherit;
}
.schedule_segment.ispassed .subject{
    color: #4c4c4c;
}
.schedule_segment.isnotbegin{
    text-decoration: none;
    color: #000;
    background-color: #ffffd1;
    filter:alpha(Opacity=85);
    -moz-opacity:0.85;
    opacity: 0.85;
}

.schedule_segment.type_extraworkingday *{
    color: blue !important;
    /* font-weight: bold; */
}
.schedule_segment.type_holiday{
    background-color: #8f9eff;
    color: #b10000;
    border: 1px solid #3333335c;
    text-decoration:line-through; 
}
.schedule_segment.type_color_red{
    background-color: #ff0000de;
}
.schedule_segment.type_color_green{
    background-color: green;    
    color: white;
}
.schedule_segment.type_color_greenyellow{
    background-color: greenyellow;      
}
.schedule_segment.type_color_black{
    background-color: #545454;  
    color: white;      
}
.schedule_segment.type_color_orange{
    background-color: orange;         
}
.schedule_segment.type_color_cyan{
    background-color: rgb(64, 255, 239);    
}
.schedule_segment.type_color_cyangreen{
    background-color: #c6ffd9;    
}
.schedule_segment.type_color_gray{
    color: #666;
    background-color: #f1f1f1;
}