.schedule_segment{
    position: absolute;
    min-height: 12px;
    background-color: #feff43;
    line-break: strict;
    z-index: 999;
    color: #000;
    /* text-decoration: underline; */
}
.schedule_segment.selected{
    background-color:#0037ff29;
}
.schedule_segment .subject{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.schedule_segment .delete{
    text-decoration: none;
}
.schedule_segment .begin-mark{
    float:left;
}
.schedule_segment .end-mark{
    float:right;
}
.schedule_segment.left-is-close{
    border: 1px solid orange;
    border-right: 0;
    border-top-width:1px;
    border-bottom-width: 1px;
}
.schedule_segment.right-is-close{
    border: 1px solid orange;
    border-left: 0;
    border-top-width:1px;
    border-bottom-width: 1px;
}
.schedule_segment.right-is-close .subject{
    float: right;
}
.schedule_segment.all-close{
    border: 1px solid orange;
    border-top-width:1px;
    border-bottom-width: 1px;
}
.schedule_segment.all-open{
    border: 0;
}
.schedule_segment.ispassed{
    text-decoration: none;
    color: black;
    background-color: #bbb !important;
    border:0;
    filter:alpha(Opacity=75);-moz-opacity:0.75;opacity: 0.75; 
}
.schedule_segment.isnotbegin{
    text-decoration: none;
    color: #000;
    background-color: #ffffd1 !important;
    filter:alpha(Opacity=85);
    -moz-opacity:0.85;
    opacity: 0.85;
}
.schedule_segment.type_holiday{
    background-color: #a9a8a8;
    color: black;
    border: 1px solid #333;
}