.eventsegment{
    position: absolute;
    height:14px;
    background-color: greenyellow;
}
.eventsegment .begin-mark{
    float:left;
}
.eventsegment .end-mark{
    float:right;
}
.eventsegment.left-is-close{
    border: 2px solid orange;
    border-right: 0;
}
.eventsegment.right-is-close{
    border: 2px solid orange;
    border-left: 0;
}
.eventsegment.all-close{
    border: 2px solid orange;
}
.eventsegment.all-open{
    border: 0;
}