.task{
    position: absolute;
    height:16px;
    min-width:20px;
    background-color:#3a328224;
    color: #524d37;
    border:1px solid #3f49bf;
    /* border-right-color: #0000ff99;
    border-right-width: 2px; */
    /* border-radius:8px; */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* filter:alpha(Opacity=60);
    -moz-opacity:0.6;
    opacity: 0.6; */
}
.task {
    word-wrap: normal ;
    word-break: keep-all ;
}
.task .pointer{
    background-color: #09166f;
    width: 10px;
    height:10px;
    display: inline-block;
    border-radius: 10px;
    margin: 3px 0 0 0;
}