.task{
    position: absolute;
    z-index: 999;
    height:16px;
    min-width:20px;
    background-color:#e9e9f5eb;
    background-color: rgba(194, 255, 193, 0.22);
    color: black;
    /* border:1px dotted #3f49bf; */
    /* border-right-color: #0000ff99;
    border-right-width: 2px; */
    /* border-radius:8px; */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* filter:alpha(Opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8; */
    border: 0;
    /* border-bottom: 1px solid #3f49bf; */
}
.task {
    word-wrap: normal ;
    word-break: keep-all ;
}
.pointer{
    background-color: #4577e8;
    width: 10px;
    height:10px;
    display: inline-block;
    border-radius: 10px;
    margin: 3px 0 0 0;
}
.task .pointer{
    background-color: #4577e8;
}
.tip_of_day .pointer{
    background-color: #4577e8;
    margin: 3px 0 0 3px;
}
.task .delete{
    color: #442727;
    padding: 0 0 0 2px;
    text-decoration: none;
}
.isBeforeToday .task{
    background-color: #cccccc61 !important;
}
.isBeforeToday .task .pointer{
    background-color: #a5a5a5 !important;
}
