.task{
    position: absolute;
    height:16px;
    min-width:20px;
    background-color:#1b00ff2b;
    color: black;
    border:1px solid red;
    /* border-right-color: #0000ff99;
    border-right-width: 2px; */
    /* border-radius:8px; */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* filter:alpha(Opacity=60);
    -moz-opacity:0.6;
    opacity: 0.6; */
}
.task {
    word-wrap: normal ;
    word-break: keep-all ;
}