*{
    margin:0;
    padding: 0;
}
.root{
    overflow: auto;
    width: 100%;
    border: 1px dotted red;
    font-size: 11px;
}
.gantt_section{
    display: block;
    border: 0
}
.gantt_section tr{
    border: 0
}
.gantt_section td{
    border: 0;
    color:#bbb;
}
.gantt_section .day.monthzebra0{
    background-color: #eee;
}
.gantt_section .day.monthzebra1{
    background-color: #e1e4f9;
}
.gantt_section .today{
    background-color: yellow !important;
}
.gantt_section .weekend{
    background-color: #aefbff;
}