*{
    margin:0;
    padding: 0;
}
.root{
    overflow: auto;
    width: 100%;
    border: 1px dotted red;
    font-size: 11px;
}
.gantt_canvas{
    display: block;
    border: 0
}
.gantt_canvas tr{
    border: 0
}
.gantt_canvas td{
    border: 0;
    color:#bbb;
}
.gantt_canvas .day.monthzebra0{
    background-color: #eee;
}
.gantt_canvas .day.monthzebra1{
    background-color: #e1e4f9;
}
.gantt_canvas .today{
    background-color: yellow !important;
}
.gantt_canvas .weekend{
    background-color: #aefbff;
}