*{
    margin:0;
    padding: 0;
}
.info{

}
.root{
    overflow: auto;
    width: 100%;
    border: 1px dotted red;
    font-size: 11px;
}
.gantt_section{
    display: block;
    border: 1px solid #804040;
    border-bottom: 1px solid #804040;    
    border-collapse:collapse;
    width:1600px;
}
.gantt_section thead{
    border: 0;
    width:100%;
    font-size: 9px;
}
.gantt_section tbody{
    border: 0;
    width:100%;
}
.gantt_section tr{
    border: 0;
    width:100%;
}
.gantt_section td{
    border-left: 1px solid #804040;
    border-top: 1px solid #804040;
    height:26px;
}
.gantt_section th{
    width:20px;
}
.gantt_section .day.monthzebra0{
    background-color: #ebffee;
}
.gantt_section .day.monthzebra1{
    background-color: #edeffd;
}
.gantt_section .today{
    border:1px solid red;
    border-right-width: 2px;
    border-left-width: 2px;
    border-top-width: 4px;
    border-bottom-width: 4px;
}
.gantt_section .weekend{
    background-color: #aefbff !important;
    color:#aaa;
}
.gantt_section .holiday{
    background-color: #ffd0cb !important;
    color:#aaa;

}